html , body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    color: #ccc;
    font-size: 16px;
}
.b{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 80%;
}

#log{
    position: fixed;
    top: 0%;
    height: 90%;
    left: 0;
    color: #5f5;
    font-size: 20px;
}
#download{
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
    font-size: -webkit-xxx-large;
    text-align: center;
    color: #5f5;
}
#menuView{
    z-index: 1;
    font-size: 50px;
    position: fixed;
    top: 0;
    right: 30px;
    color: #000;
    font-family: monospace;
}
#menu{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 400px;
    min-width: 200px;
    width: -webkit-fill-available;
    margin: 10px;
    padding: 10px;
    background: #0008;
    font-size: 20px;
    visibility: hidden;
    border-radius: 10px;
}
#menu #full{
    padding: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background: #222;
    border: outset 2px #666;
    border-radius: 10px;
    margin-bottom: 70px;
}

#menu #speedSet{
    width: 100%;
}
#info{
    position: fixed;
    width: 50%;
    z-index: 1;
    text-align: center;
    top:50%;
    left:50%;
}